<div class="container-fluid parent #sidebar">

    <div class="img">
        <nav>
            <i class="fa fa-address-book" aria-hidden="true"></i>
            <i class="fa fa-bell" aria-hidden="true"></i>
        </nav>
        <div class="image"><img src="assets/images/chien.jpg" alt="" srcset=""></div>
        <p>manuela syntia</p>
        <p>manuelasyntia71@g;ail.com</p>
        
    </div>
    <div class="mid">
        <h2>DASHBOARDS</h2>
        <p>unique dashboard design</p>
        <p><i class="fa fa-calendar-check-o" aria-hidden="true"></i>project</p>
        <p><i class="fa fa-pie-chart" aria-hidden="true"></i>analytics</p>
    </div>
    <div class="th">
        <h3>APPLICATIONS</h3>
        <p><i class="fa fa-graduation-cap" aria-hidden="true"></i>Academy</p>
        <p><i class="fa fa-calendar" aria-hidden="true"></i>calendar</p>
        <p><i class="fa fa-commenting-o" aria-hidden="true"></i> Chat</p>
        <p> <i class="fa fa-mobile" aria-hidden="true"></i>contact:+337657765665</p>
    </div>
    <div class="end">
        <h3>PAGES</h3>
        <p><i class="fa fa-signal" aria-hidden="true"></i>Activites</p>
        <p><i class="fa fa-lock" aria-hidden="true"></i>Auhentification</p>
        <p><i class="fa fa-clock-o" aria-hidden="true"></i>Comming Soon</p>
    </div>
</div>