.container-fluid{
    // background-color:rgba(0, 0, 0, 0.822);
    // background-color: crimson;
    background-color: teal;
    display: flex;
    justify-content: space-between;
}
i{
    color: rgb(240, 97, 97);
    padding: 10px
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
p{
    color: white;
}
h2,h3{
    color: rgba(245, 245, 245, 0.459);
}