<app-navbar></app-navbar>
<div class="row text-center">

  <div class="col-md-4">
      <div class="btn-group">
          <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
              Previous
          </div>
          <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
              Today
          </div>
          <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
              Next
          </div>
      </div>
  </div>

</div>
<mwl-calendar-month-view [viewDate]="viewDate">
</mwl-calendar-month-view>

<router-outlet></router-outlet>
